@font-face {
    font-family: 'LEMONMILK-Light';
    font-style: normal;
    font-weight: normal;
    src: local('LEMONMILK-Light'), url('LEMONMILK-Light.woff') format('woff');
}

@font-face {
    font-family: 'Cocogoose-Compressed-Thin-trial';
    font-style: normal;
    font-weight: normal;
    src: local('Cocogoose-Compressed-Thin-trial'), url('Cocogoose-Compressed-Thin-trial.woff') format('woff');
}

@font-face {
    font-family: 'MADE Tommy Soft Regular PERSONAL USE';
    font-style: normal;
    font-weight: normal;
    src: local('MADE Tommy Soft Regular PERSONAL USE'), url('MADE Tommy Soft Regular PERSONAL USE.woff') format('woff');
}

@font-face {
    font-family: 'MADE Tommy Soft Thin PERSONAL USE';
    font-style: normal;
    font-weight: normal;
    src: local('MADE Tommy Soft Thin PERSONAL USE'), url('MADE Tommy Soft Thin PERSONAL USE.woff') format('woff');
}


body {
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}


.main-header {
    background-color: #000;
    height: 3rem;
}

main {
    position: relative;
    height: min-content;
    background-color: #18192b;
}

.main-footer {
    background-color: #000;
    height: 3rem;
}

.front {
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
}

.front-part {
    padding: 0.5rem;
}

#left {
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: min-content;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.disc {
    min-width: 15.625rem;
    min-height: 15.625rem;
    max-width: 25rem;
    max-height: 25rem;
    border-radius: 1rem;
    margin-inline-end: 2rem;
    margin-inline-start: 2rem;
    box-shadow: -20px -20px 22px #0a0a11,
        20px 20px 22px #262845;
    background-image: url('../assets/images/default.png');
    background-size: cover;
}

.repro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: calc(50% + 3rem);
    width: max-content;
}

.left-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin-inline-end: 2rem;
    font-family: 'LEMONMILK-Light';
    color: #fffeff;
    font-size: 1.3em;
    min-width: 50%;
}

.title {
    font-family: 'LEMONMILK-Light';
    color: #fffeff;
    font-size: 1.3em;
    margin-bottom: 1rem;
    
}

.release-title {
    margin-bottom: 0.5rem;
}

.repro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

audio {
    background-color: bisque;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.play-button {
    font-family: 'Cocogoose-Compressed-Thin-trial';
    margin: 0.5rem;
    font-size: 1.5em;
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: solid 2px #929292;
}

.repro-button-back,
.repro-button-next {
    height: 3rem;
    width: 4rem;
    background-color: #1e1f34;
    border: 0;
    padding: .25rem;
    border-radius: 0.8rem;
    box-shadow: 3px 3px 6px 2px #151625;
}

.repro-button-back:hover,
.repro-button-next:hover {
    background-color: #2f3255;
}

.arrow-img {
    width: 2.5rem;
}

.listed {
    width: calc(100% - 1rem);
    list-style: none;
    min-height: 80%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.unique-song {
    width: calc(100% - 0.4rem);
    background-color: #1e1f34;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 6px 2px #151625;
    padding: 0.2rem;
}

.unique-song:hover {
    background-color: #2f3255;
}

.unique-song :checked {
    background-color: #fffeff;
}

.description-song {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.description-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
}

.description-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.song-detail {
    font-family: 'MADE Tommy Soft Thin PERSONAL USE';
    color: #555479;
    margin-inline-end: 0.5rem;
}

.like {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.3;
}

.like:hover {
    opacity: 1;
    filter: brightness(150%);
}

.song-title {
    font-family: 'MADE Tommy Soft Regular PERSONAL USE';
    color: #fffeff;
    font-size: 1.1em;
}

.song-artist {
    font-family: 'MADE Tommy Soft Thin PERSONAL USE';
    color: #555479;
    font-size: .9em;
}